<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <table class="table table-bordered" style="text-align: center; margin-top: 20px;">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad de Vida</th>
          <th scope="col">Carril</th>
          <th scope="col">Cantidad de daño inicial</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campeon of campeones">
          <td>{{campeon.nombre}} </td>
          <td>{{campeon.cantVida}}</td>
          <td>{{campeon.carril}} </td>
          <td>{{campeon.cantDamageI}}</td>
          <td><button (click)="eliminarCampeon(campeon.id)" class="btn btn-danger" style="margin-right: 10px;">Eliminar</button><button (click)="updateChamp(campeon)" class="btn btn-success">Actualizar</button></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="!isEdit">
  <label>Agregar campeon</label> 
  <form [formGroup]="campeon" class="example-form">
    <div class="form-row">
      <div class="col">
        <div class="form-group">
            <label>Nombre de campeon</label>
            <input type="text" class="form-control"   placeholder="Introduzca nombre del campeón" formControlName="nombre">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
            <label>Cantidad de vida: </label>
            <input type="text" class="form-control"   placeholder="Cantidad de vida" formControlName="cantVida">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
            <label>Cantidad de armadura: </label>
            <input type="text" class="form-control"  placeholder="Cantidad de armadura" formControlName="cantArmadura">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
            <label>Cantidad de resitencia magica:</label>
            <input type="text" class="form-control"  placeholder="Cantidad de resistencia mágica" formControlName="cantMR">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label>Carril:</label>
          <input type="text" class="form-control"  placeholder="Carril" formControlName="carril">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
            <label>Daño inicial:</label>
            <input type="text" class="form-control"  placeholder="Daño inicial" formControlName="cantDamageI">
        </div>
      </div>
    </div>
        <button (click)="agregarCampeon()"  class="btn btn-primary" style="margin-left: 450px;">Agregar campeon</button>
  </form>
</div>
<br>

<div class="container" *ngIf="isEdit">
    <label>Actualizar campeon</label> 
  <form [formGroup]="updateCampeon" class="example-form">
    <div class="form-row">
        <div class="col">
          <div class="form-group">
              <label>Nombre de campeon</label>
              <input type="text" class="form-control"   placeholder="Introduzca nombre del campeón" formControlName="nombre">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
              <label>Cantidad de vida: </label>
              <input type="text" class="form-control"   placeholder="Cantidad de vida" formControlName="cantVida">
          </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
          <div class="form-group">
              <label>Cantidad de armadura: </label>
              <input type="text" class="form-control"  placeholder="Cantidad de armadura" formControlName="cantArmadura">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
              <label>Cantidad de resitencia magica:</label>
              <input type="text" class="form-control"  placeholder="Cantidad de resistencia mágica" formControlName="cantMR">
          </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label>Carril:</label>
            <input type="text" class="form-control"  placeholder="Carril" formControlName="carril">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
              <label>Daño inicial:</label>
              <input type="text" class="form-control"  placeholder="Daño inicial" formControlName="cantDamageI">
          </div>
        </div>
    </div>
      <button (click)="actualizarCampeon()" class="btn btn-success" style="margin-left: 450px;">Update campeon</button>
  </form>
</div>
<br>



<router-outlet></router-outlet>
